.List-Chat-class .list-group-item {
  padding: 0 !important;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.List-Chat-class {
  height: calc(100% - 40px);
  overflow-y: scroll;
}

@media 
  (max-device-width: 800px) { 
    .List-Chat-class {
      -webkit-overflow-scrolling: touch;
    }
}

.Card-Class {
  margin-bottom: 0rem !important;
  border: 0 !important;
}

.row {
  flex-wrap: nowrap !important;
}

.Image-Class {
  padding: 10px !important;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
