#root,
body,
html {
  width: 100%;
  height: calc(100% - 1px);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.Container-class {
  padding: 0;
  height: 100%;
  border: 1px solid;
}

.Row-class, .Col-class {
  padding: 0;
  margin: 0;
  height: 100%;
}

.Col-class {
  border-right: 1px solid;
  height: calc(100% - 1px);
}